<template>

<div>
    <select 
    name="" 
    id=""
    class="form-control"
    v-model="datafrom.id"
    @change="mostrarDatos()"
    placeholder="--Seleccione una opcion--"    
    >
    <option v-for="l in listapais" :Key="l.id" :value="l.id">
        {{l.codigo}}-{{l.descripcioncorta}}
    </option>

    </select>
</div>

</template>

       <script>
   export default {
       data(){
           return {
               from: new FormData(),
               listapais: null,
               datafrom:{
                   id:null
               }
               
           };
       },
        mounted() {
            console.log('Componente montado.')
            this.cargarDatos();
            this.$emit("datosPais",this.datafrom);
      
        },
        methods:{
            cargarDatos(){
                const config ={
                    headers: {
                        "Content-type":"multipart/form-data"}

                    };
                    this.from.append("usuario","9eeb05ad-b56a-4d10-a251-3a737a13e4d8    ");
                    axios.post("/api/cargar_pais",this.from,config).then(
                        response=>{
                            const data=response.data.datos;
                            this.listapais=data.data;

                        });
                        },
                    mostrarDatos(){
                        console.log(this.datafrom);
                    }
                    }   
                };
    </script>

       
