<template>
    <div>
        <div>
            <pais-listar @datosPais="data=$event"></pais-listar>
        </div>
        <br>
        <button @click="guardar()" class="from-control">GUARDAR</button>
    </div>
</template>

       <script>
   export default {
       data(){

           return {
             from: new FormData,
               datos:null,
               data=null,
              
               datafrom:{
                    idpais:null,
                    nombre:null,
                    estado:null,
               }
           }
       },
        mounted() {
            console.log('Componente montado.')
           // this.registrar();
            
        },
        methods:{
            registrar(){

                var validacion=true;
                if (!this.datafrom.codigo){
                    validacion=false;
                    this.eformulario.codigo="El codigo es requerido";
                    codigo.focus();
                }

                console.log(this.datafrom);
                const config = {
                    headers:{"Content-type":"multipart/form-data"}
                };
               
                this.from.append("codigo",this.datafrom.codigo);
                this.from.append("descripcioncorta",this.datafrom.descripcioncorta);
                this.from.append("descripcionlarga",this.datafrom.descripcionlarga);
                this.from.append("nombreiso",this.datafrom.nombreiso);
                this.from.append("nacionalidad",this.datafrom.nacionalidad);
                this.from.append("prefijotelefonico",this.datafrom.prefijotelefonico);
                this.from.append("formatotelefonico",this.datafrom.formatotelefonico);
                this.from.append("nombredocumentoidentidad",this.datafrom.nombredocumentoidentidad);
                this.from.append("sigladocumentoidentidad",this.datafrom.sigladocumentoidentidad);
                this.from.append("longituddocumentoidentidad",this.datafrom.longituddocumentoidentidad);
 
                axios
                .post("/api/insertar_pais",this.from,config)
                .then(response=>{console.log(response)}
                )
                .catch(error =>console.log(error));
                
            }

        },
        limpiar(){
            this.datafrom.codigo="";
            this.datafrom.descripcioncorta="";
            this.datafrom.descripcionlarga="";
            this.datafrom.nombreiso="";
            this.datafrom.nacionalidad="";
            this.datafrom.prefijotelefonico="";
            this.datafrom.formatotelefonico="";
            this.datafrom.documentoidentidad="";
            this.datafrom.sigla="";
            this.datafrom.longitud="";
            this.datafrom.estado="";
            this.datafrom.altaaplicacion="";

        }

    }
    </script>
