<template>
<div>
    <!--TITULO-->
    <div class="container" id="app">
</div>
 
 <h4 class="text-center mt-5 fw-bold text-primary"> SISTEMA DE REQUERIMIENTOS DE HARDWARE</h4>
 <p class="text-success text-center fw-bold">Listado de paises</p>
    <!---filtros--->
    
        <div class="col-md-12">  
                <div class=col-md-8>
                   <table>
                       <tr>
                           <td><b-form-input type="text" id="codigo" name="codigo" v-model="filtro.codigo" placeholder="Código">  </b-form-input></td>
                           <td><button @click="filtrar()" class="btn btn-success">FILTRAR</button></td>
                       </tr>
                   </table>          
                </div>
        </div>
      <br>
    
<!--TABLA CUERPO-->
    <div class="col-md-12">
        <table class="table table-striped table-hover table-bordered border-success" with="100%">
            <thead class="table-success text-center">

                <th>
                    <td>Codigo</td>
                </th>
                <th>
                    <td>Descripcion Corta</td>
                </th>
                 <th>
                    <td>Descripcion Larga</td>
                </th>
                <th>
                    <td>Nombre Iso</td>
                </th>
                             
                 <th>
                    <td>Estado</td>
                </th>
                 <th>
                    <td>Acciones</td>
                </th>

            </thead>
            <tbody>
                <tr v-for="l in lista" :key="l.id">

                    <td>{{l.codigo}}</td>
                    <td>{{l.descripcioncorta}}</td>
                    <td>{{l.descripcionlarga}}</td>
                    <td>{{l.nombreiso}}</td>
                    <td v-if="l.estado ==true">
                        ACTIVO 
                    </td>
                    <td v-else>
                        INACTIVO
                    </td>
                    <td> 
                        <a href="#" class="btn btn-success" role="button">Ver</a>
                        <a href="#" class="btn btn-warning" role="button">Modificar</a>
                        <a href="#" class="btn btn-danger" role="button">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</template>

       <script>
   export default {
       data(){
           return {
               lista:null,
               filtro:{
                    id:null,
                    codigo:null,
                    descripcioncorta:null,
                    descripcionlarga:null,
                    nombreiso:null,
                    nacionalidad:null,
                    prefijotelefonico:null,
                    formatotelefonico:null,
                    nombredocumentoidentidad:null,
                    sigladocumentoidentidad:null,
                    longituddocumentoidentidad:null,
                    estado:true,
                    usuario:null,
               }
           }
       },
        mounted() {
            console.log('Componente montado.')
            this.listadoPais();
      
        },
        methods:{
            listadoPais(){
                axios.put('/api/listar_pais',
                    {
                        id:this.filtro.id,
                        codigo:this.filtro.codigo,
                        descripcioncorta:this.filtro.descripcioncorta,
                        descripcionlarga:this.filtro.descripcionlarga,
                        nombreiso:this.filtro.nombreiso,
                        nacionalidad:this.filtro.nacionalidad,
                        prefijotelefonico:this.filtro.prefijotelefonico,
                        formatotelefonico:this.filtro.formatotelefonico,
                        nombredocumentoidentidad:this.filtro.nombredocumentoidentidad,
                        sigladocumentoidentidad:this.filtro.sigladocumentoidentidad,
                        longituddocumentoidentidad:this.filtro.longituddocumentoidentidad,
                        estado:this.filtro.estado,
                        usuario:this.filtro.usuario,


                    }
                ).then(response=>{
                    const data =response.data.datos;
                        //console.log(data.datos);
                    if (data.estado == true){
                            this.lista = data.data;
                               // console.log(this.lista);
                    }else{
                        //alert('el usuario no tiene permiso')
                    }
                   
                    });
            },
                
            filtrar(){
                console.log('filtro');
                        axios.put('/api/listar_pais',
                        {
                            id:this.filtro.id,
                            codigo:this.filtro.codigo,
                            descripcioncorta:this.filtro.descripcioncorta,
                            descripcionlarga:this.filtro.descripcionlarga,
                            nombreiso:this.filtro.nombreiso,
                            nacionalidad:this.filtro.nacionalidad,
                            prefijotelefonico:this.filtro.prefijotelefonico,
                            formatotelefonico:this.filtro.formatotelefonico,
                            nombredocumentoidentidad:this.filtro.nombredocumentoidentidad,
                            sigladocumentoidentidad:this.filtro.sigladocumentoidentidad,
                            longituddocumentoidentidad:this.filtro.longituddocumentoidentidad,
                            estado:this.filtro.estado,
                            usuario:this.filtro.usuario,


                        }
                    ).then(response=>{
                        const data =response.data.datos;
                            console.log(data.datos);
                        if (data.estado == true){
                                this.lista = data.data;
                                    console.log(this.lista);
                        }else{
                            //alert('el usuario no tiene permiso')
                        }
                   
                    });
            }
        }
    }
    </script>
