<template>
<div class="container-fluid">
    <!--TITULO-->
    <div class="col-md-12">
       
            <h2>
              
            </h2>
        
    </div>

    <!---filtros--->

<div class="row">
     <center>
 <h3>Registre un nuevo pais</h3>
 </center>
            <div class="col" style="background-color:lavender;"></div>
            <div class="col" style="background-color:orange;"> <div class="form-group">
                    <label >CODIGO*</label>
                    <b-form-input class="form-control" id="codigo" v-model="datafrom.codigo"></b-form-input> 
                    <label for="">{{eformulario.codigo}}</label>
                </div>
                <div class="form-group">
                    <label >DESCRIPCION CORTA</label>
                    <b-form-input id="descripcioncorta" v-model="datafrom.descripcioncorta"></b-form-input>
                </div>
                <div class="form-group">
                    <label >DESCRIPCION LARGA</label>
                    <b-form-input id="descripcionlarga" v-model="datafrom.descripcionlarga"></b-form-input>
                </div>
                <div class="form-group">
                    <label >NOMBRE ISO</label>
                    <b-form-input id="nombreiso" v-model="datafrom.nombreiso" ></b-form-input>
                </div>
                <div class="form-group">
                    <label >NACIONALIDAD</label>
                    <b-form-input id="nacionalidad" v-model="datafrom.nacionalidad"></b-form-input>
                </div>
                <div class="form-group">
                    <label >PREFIJO TELEFONICO </label>
                    <b-form-input id="prefijotelefonico" v-model="datafrom.prefijotelefonico"></b-form-input>
                </div>
                 <div class="form-group">
                    <label >FORMATO TELEFONICO</label>
                     <b-form-input id="formatotelefonico" v-model="datafrom.formatotelefonico"></b-form-input>
                </div>
                <div class="form-group">
                    <label >DOCUMENTO IDENTIDAD </label> 
                    <b-form-input id="nombredocumentoidentidad" v-model="datafrom.nombredocumentoidentidad"></b-form-input>
                </div>
                <div class="form-group">
                    <label >SIGLA </label>    
                    <b-form-input  id="sigladocumentoidentidad" v-model="datafrom.sigladocumentoidentidad"></b-form-input>
                </div>
                <div class="form-group">
                    <label >LONGITUD</label>    
                    <b-form-input id="longituddocumentoidentidad" v-model="datafrom.longituddocumentoidentidad"></b-form-input>
                </div>
                <div>

                </div > 
                    <label for="">Los campos* son requeridos</label>
                <div>
                <button  class="btn btn-outline-dark btn-block" @click="registrar()" >ENVIAR</button>
                <button  class="btn btn-outline-dark btn-block" @click="limpiar()" >LIMPIAR</button>
                </div>
 </div>
    <div class="col" style="background-color:lavender;"></div>
               
</div>
</div>
</template>

       <script>
   export default {
       data(){

           return {
             from: new FormData,
               datos:null,
               eformulario:{
                   codigo:null
               },
               datafrom:{
                    codigo:null,
                    descripcioncorta:null,
                    descripcionlarga:null,
                    nombreiso:null,
                    nacionalidad:null,
                    prefijotelefonico:null,
                    formatotelefonico:null,
                    nombredocumentoidentidad:null,
                    sigladocumentoidentidad:null,
                    longituddocumentoidentidad:null,
                    estado:true,
                    altaaplicacion:null,
                    usuario:"9eeb05ad-b56a-4d10-a251-3a737a13e4d8"
               }
           }
       },
        mounted() {
            console.log('Componente montado.')
           // this.registrar();
            
        },
        methods:{
            registrar(){

                var validacion=true;
                if (!this.datafrom.codigo){
                    validacion=false;
                    this.eformulario.codigo="El codigo es requerido";
                    codigo.focus();
                }

                console.log(this.datafrom);
                const config = {
                    headers:{"Content-type":"multipart/form-data"}
                };
               
                this.from.append("codigo",this.datafrom.codigo);
                this.from.append("descripcioncorta",this.datafrom.descripcioncorta);
                this.from.append("descripcionlarga",this.datafrom.descripcionlarga);
                this.from.append("nombreiso",this.datafrom.nombreiso);
                this.from.append("nacionalidad",this.datafrom.nacionalidad);
                this.from.append("prefijotelefonico",this.datafrom.prefijotelefonico);
                this.from.append("formatotelefonico",this.datafrom.formatotelefonico);
                this.from.append("nombredocumentoidentidad",this.datafrom.nombredocumentoidentidad);
                this.from.append("sigladocumentoidentidad",this.datafrom.sigladocumentoidentidad);
                this.from.append("longituddocumentoidentidad",this.datafrom.longituddocumentoidentidad);
 
                axios
                .post("/api/insertar_pais",this.from,config)
                .then(response=>{console.log(response)}
                )
                .catch(error =>console.log(error));
                
            }

        },
        limpiar(){
            this.datafrom.codigo="";
            this.datafrom.descripcioncorta="";
            this.datafrom.descripcionlarga="";
            this.datafrom.nombreiso="";
            this.datafrom.nacionalidad="";
            this.datafrom.prefijotelefonico="";
            this.datafrom.formatotelefonico="";
            this.datafrom.documentoidentidad="";
            this.datafrom.sigla="";
            this.datafrom.longitud="";
            this.datafrom.estado="";
            this.datafrom.altaaplicacion="";

        }

    }
    </script>
