<template>
<div class="container">
    <div class="mt-5 col-md-6">
        <h3>
             <label for="">Seleccione un pais</label>
        </h3>
        <table>
            <tr>
                <td><pais-cargar @datosPais="idpais=$event"></pais-cargar></td>
                <td><button @click="registrar()" class="btn btn-success">REGISTRAR</button></td>
            </tr>
        </table>
 
    </div>
</div>

</template>

       <script>
   export default {
       data(){
           return {
               datos: null,
               idpais: null
               };
       },
        mounted() {
            console.log('Componente montado.')
      
        },
        methods:{
            registrar(){
                console.log(this.idpais.id);
            }
                                
        }
    };  
    </script>
