<template>
<div class="container">
    <label for="">Listar Pais</label>
        <table class="table table-bordered">
            <thead>
            <tr>
               <th>ID</th>
               <th>CODIGO</th>
               <th>DESCRIPCION</th>
               <th>CODIGOISO</th>
               <th>ESTADO</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="l in pais" :key="l.id">                
                <td>{{l.id}}</td>
                    <td>{{l.codigo}}</td>
                    <td>{{l.descripcion}}</td>  
                    <td>{{l.codigoiso}}</td>
                    <td>{{l.estado}}</td>  
                </tr>           
                
                </tbody>
        </table>

</div>
       
   
  
</template>
 
         <script>
         
   export default {
       data(){
           return{
               paises:null,
                };
         },
        mounted() {
            console.log('Componente montado.');
            this.listarPaises();
        },
        methods:{
            listarPaises(){
                this.paises=[{
                    ID:1,
                    CODIGO:'PER',
                    DESCRIPCION:'PERU',
                    CODIGO:'123',
                    ESTADO:'ACTIVO',
                }]

            }
        }
    };
    
    </script>